* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, black, purple);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    border: 2px solid white;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    margin: 4px;
    color: #fff;
    border-radius: 100px;
}

.btn:hover{
    background-color: #616161;
}

.btn__direita {
    background-color: #ff9e0a;
    font-size: 30px;
}

.btn__direita:hover{
    background-color: #fff;
    color: #ff9e0a;
}

.btn__cima {
    background-color: #a5a5a5;
    color: black;
}

.btn__cima:hover{
    background-color: #d0d0d0;
}


#resultado {
    width: 236px;
    height: 50px;
    font-size: 35px;
    color: white;
    text-align: right;
    padding: 5px;    
    box-sizing: border-box;
    overflow: hidden;
}

#blankspace {
    height: 50px;
}